:root {
  --primary-color: linear-gradient(to right, #421848, #d44dd4);
  --primary-text-color:#421848 ;
  --primary-font-color: #fff;
  --blue-btn-color: #0ec4a5;
  --blue-btn-hover-color: #379c8b;
}