::-webkit-scrollbar {
    display: none;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
=======
     font-family: 'Outfit', sans-serif !important;
>>>>>>> 86e228c (New design)
  }
  
  html, body {
    overflow-x: hidden;
<<<<<<< HEAD
=======
     font-family: 'Outfit', sans-serif !important;
>>>>>>> 86e228c (New design)
  }